body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
}
header img {
    border-radius: 50%; 
    width: 100px; 
    height: 100px;
    margin-left: 20px;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;
}
nav a:hover {
    background-color: #555;
}
section {
    padding: 20px;
    margin: 20px 0;
    text-align: center; 
}

h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    text-align: center;
}

.seccion  {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.5;
}


.ejemplo1,
.ejemplo2,
.ejemplo3,
.ejemplo4{
    display: none;
}

.operacion {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left; 
}
.operacion button {
    padding: 5px 10px;
    font-size: 16px;
    margin: 1px;
    border: none;
    cursor: pointer;
    background-color: #000; 
    color: #fff; 
    border-radius: 5px;
    transition: background-color 0.3s;
}
.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

.calculator input[type="text"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #000; 
    border-radius: 5px;
    font-size: 18px;
}

.calculator button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #000; 
    color: #fff; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

.calculator button:hover {
    background-color:#45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}